.main-layout {
    display: block;
  }
  
  .main-layout__left {
    display: none;
    width: 0%;
  }
  
  .main-layout__right {
    width: 100%;
  }

  @media only screen and (min-width: 990px) {
    .main-layout {
        display: flex;
      }
    
      .main-layout__left {
        display: block;
        width: auto;
      }

      .main-layout__left #shopify-section-navigation {
       height: 100%;
      }

      .main-layout__left .header__inline-menu {
          background-color: #f7f7f5;
          padding: 10px;
          height: calc(100vh - 160px);
          margin: 0 10px 10px;
          border: solid 1px #d2d2d2;
          z-index: 999;
          overflow: auto;
          position: sticky;
          top: 120px;
      }

      .main-layout__left .list-menu--inline {
          display: flex;
          flex-direction: column;
      }

      .main-layout__left .header__submenu.list-menu {
          padding: 0;
      }

      .main-layout__left .list-menu--disclosure {
          position: static;
          box-shadow: none;
          border: 0;
          background: transparent;
      }
  }

.header {
  padding-top: 1rem;;
  padding-bottom: 1rem;;
}

.button {
  padding: 0 6px !important;
}

.menu-drawer__menu-item {
  font-size: 1.2rem !important;
}