<section class="sidebar-section">
  <h1 class="header__heading">
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
      {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
        width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
      {%- else -%}
      <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </h1>

  {%- if section.settings.menu != blank -%}
  <nav class="sidebar">
    <ul class="list-menu" role="list">
      {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
        <details-disclosure>
          <details>
            <summary class="header__menu-item list-menu__item link focus-inset">
              <span {%- if link.child_active %} class="header__active-menu-item" {% endif %}>{{ link.title | escape
                }}</span>
              {% render 'icon-caret' %}
            </summary>
            <ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list"
              tabindex="-1">
              {%- for childlink in link.links -%}
              <li>
                {%- if childlink.links == blank -%}
                <a href="{{ childlink.url }}"
                  class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                  {% if childlink.current %} aria-current="page" {% endif %}>
                  {{ childlink.title | escape }}
                </a>
                {%- else -%}
                <details>
                  <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                    {{ childlink.title | escape }}
                    {% render 'icon-caret' %}
                  </summary>
                  <ul class="header__submenu list-menu motion-reduce">
                    {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                        {% if grandchildlink.current %} aria-current="page" {% endif %}>
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                    {%- endfor -%}
                  </ul>
                </details>
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </details-disclosure>
        {%- else -%}
        <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"
          {% if link.current %} aria-current="page" {% endif %}>
          <span {%- if link.current %} class="header__active-menu-item" {% endif %}>{{ link.title | escape }}</span>
        </a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </nav>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Navigation",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    }
  ]
}
{% endschema %}
